run = "python app.py"
language = "python3"
hidden = [".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]
modules = ["python-3.12", "nix", "postgresql-16"]

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "$PYTHONPATH:${REPL_HOME}"
PATH = "${REPL_HOME}/venv/bin:${PATH}"
PORT = "8080"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"] 

[deployment]
run = ["sh", "-c", "python app.py"]
